  <h1><%= pokemon.name %></h1>

  <h2> Ability <br><% api.height.forEach(function(elem) { %>
    <%=  %>
    <% }); %> </p>
  
  <h3> <%  api.abilities.forEach(function(elem) { %>
    <%= elem.ability.name %> 
    <% }); %> </p>
  </div>


<a href=<% image %></a>
