<div class="container">
  <h2><%= api.name %></h2>

<p> <% api.types.forEach(function(elem) { %>
  <%= elem.type.name %>
  <% }); %> </p>

<p> <%  api.abilities.forEach(function(elem) { %>
  <%= elem.ability.name %> 
  <% }); %> </p>
</div>