  <h1><%= api.name %></h1>

<h2> Ability <br><% api.types.forEach(function(elem) { %>
  <%= elem.type.name %>
  <% }); %> </p>

<h3> <%  api.abilities.forEach(function(elem) { %>
  <%= elem.ability.name %> 
  <% }); %> </p>
</div>


